# Backend Environment Variables
VERSION=1.0.0
API_KEY=your-super-secret-key
NODE_ENV=local
WEB_ORIGIN=http://your-blog-url.com

# Backend only (DO NOT expose to frontend)
OPENAI_API_KEY=PUT_YOUR_KEY_HERE
