# Backend Environment Variables
VERSION=1.0.0
API_KEY=your-super-secret-key
NODE_ENV=local
WEB_ORIGIN=http://your-blog-url.com

YOUTHCENTER_API_KEY=your-youthcenter-api-key
PAGE_SIZE=10
MAX_PAGES=10  #커질수록 로딩 시간 길어짐
STORE_MODE=PG #postgreSQL로만 저장
DB_URL=postgresql+psycopg2://postgres:비밀번호@localhost:5432/youth_policy

# Backend only (DO NOT expose to frontend)
OPENAI_API_KEY=PUT_YOUR_KEY_HERE
